<%- include('ek/header', {bot, user, path}) %>
<title>WorldBotlist - Hakkımızda</title>
<div class="container">
	<div class="jumbotron">
		<div align="center">
      <h3 style="color:#333">
        Hakkımızda
      </h3>
		   <p style="font-size:15px; color:#333">
       Türk botlarının tanıtıldığı ve reklamının yapıldığı bot sistemidir botlarınızı siteden ekleyip düzenleye bildiğiniz bir sistemdir
      </p>
      <br>
      <a href="https://discord.gg/26Btfr8" target="_blank" class="btn btn-default" style="background-color:#333; color:#fff">Discord Sunucusuna Katıl</a>
      <br><br>
      <h4 style="color:#333;">Ekibimiz</h4>
      <div class="ekip">
        <img src="https://cdn.discordapp.com/avatars/276829048943149057/a_f70db323598db2fe3f143da6aad4b070.gif" alt="Avatar"><br>
       <div class="ekip-isim">Dream41#1903</div>
        <p>
          Dream41 - Proje sahibi ve 
        </p>
      </div>
</div>
  </div></div></div>
<% include ./ek/footer %>