<%- include('ek/header', {bot, user, path}) %>
<script type="text/javascript">
var title = "WorldBotList - Hakkımızda";
document.title = title;
document.getElementById("hakkımızda").classList.add('active');
</script>
<div class="container">
	<div class="jumbotron">
		<div align="center">
      <h3 style="color:#333">
        Hakkımızda
      </h3>
		   <p style="font-size:15px; color:#333">
       Türk botlarının tanıtıldığı ve reklamının yapıldığı bot sistemidir botlarınızı siteden ekleyip düzenleye bildiğiniz bir sistemdir
      </p>
      <br>
      <a href="https://discord.gg/26Btfr8" target="_blank" class="btn btn-default" style="background:linear-gradient(to right,#1bc8cc 0,#643dff 100%); color:#fff">Discord Sunucusuna Katıl</a>
      <br><br>
      <h4 style="color:#333;">Ekibimiz</h4>
      <div class="ekip">
        <img src="https://cdn.discordapp.com/attachments/598240605805609012/612929420969377792/resim.png" alt="Avatar"><br>
       <div class="ekip-isim">Dream41#1903</div>
        <p>
          Dream41 - Proje sahibi ve sitenin tasarımını yapan kişidir.
        </p<br><br><br>
           <img src="https://media.discordapp.net/attachments/546057119535857694/614768474161545226/resim.png" alt="Avatar"><br>
       <div class="ekip-isim">K1at3s#0001</div>
        <p>
          K1at3s - Proje sahibi.
        </p>
      <img src="https://media.discordapp.net/attachments/546057119535857694/614768446604967937/resim.png" alt="Avatar"><br>
       <div class="ekip-isim">CrawLTR35#7788</div>
        <p>
          CrawLTR35 - Proje sahibi.
        </p>
      </div>
</div>
  </div></div></div>
<% include ./ek/footer %>