<%- include('ek/header', {bot, user, path}) %>
<title>WorldBotlist - Hata</title>
<style>.footer{bottom:0px;position:absolute;}</style>
<div class="container">
	<div class="jumbotron">
		<div align="center">
      <h3 style="color:#333">Yazdığın ID'e sahip bot sistemde zaten bulunuyor!</h3>
    </div>
</div>
</div></div></div>
<% include ./ek/footer %>