<%- include('ek/header', {bot, user, path}) %>
<title>WorldBotlist - Sertifika İste</title>
<div class="container">
	<div class="jumbotron">
       <form method="post">
		  <label>Botunuz 7/24 aktif mi?</label>
        <select id="secim1" name="secim1" required="required">
       <option disabled selected>Bir seçim yapın</option>
       <option value="evet">Evet</option>
       <option value="hayır">Hayır</option>
        </select>
         <label>Botunuzun ana özelliği nedir?</label>
        <input type="text" name="secim2" id="secim2" minlength="50" required="required">
        <label>Botunuzun aynı işlevi yapan diğer botlardan farkı varmı? Varsa neler?</label>
        <input type="text" name="secim2" id="secim2" minlength="50" required="required">
      <button type="submit" class="butonss" style="width:100%;">Sertifika iste</button>
      </form>
  </div></div></div>
<% include ./ek/footer %>