<%- include('ek/header', {bot, user, path}) %>
<title>WorldBotlist - Sertifika İste</title>
<div class="container">
  <style> .footer{bottom:0px;position:absolute;} </style>
	<div class="jumbotron">
		<div align="center">
		  <h3 style="color:#333">
        Botunuza sertifika istediğinizden eminmisiniz?
      </h3>
      <button type="submit" class="butonss">Sertifika iste</button>
</div>
  </div></div></div>
<% include ./ek/footer %>