<%- include('ek/header', {bot, user, path}) %>
<title>WorldBotlist - Sertifika İste</title>
<div class="container">
	<div class="jumbotron">
		<div align="center">
       <form method="post">
		  <label>Botunuz 100 sunucu ve üzerimi?</label>
        <select id="kutuphane" name="kutuphane" required="required">
       <option disabled selected>Bir seçim yapın</option>
       <option value="evet">Evet</option>
       <option value="hayır">Hayır</option>
        </select>
      <button type="submit" class="butonss">Sertifika iste</button>
      </form>
</div>
  </div></div></div>
<% include ./ek/footer %>