<%- include('ek/header', {bot, user, path}) %>
<title>WorldBotlist - Sertifika Reddet</title>
<div class="container">
	<div class="jumbotron">
		<div align="center">
      <form method="POST">
      <input type="text" id="sertifika-red-sebep" name="sertifika-red-sebep" placeholder="Sertifika iptal sebebini yaz." required>
   
        <button class="btn btn-danger" type="sumbit">Sertifika İşemini İptal Et</button>
      </form>
    </div>
</div>
</div>
</div>
<% include ./ek/footer %>