<div class="footer">
	<div class="footer_container">
    <ul>
      <li><a href="">Ana Sayfa</a></li>
      <li><a href="/botlar">Botlar</a></li>
      <li><a href="/api">Api</a></li>
      <li><a href="/sertifika">Sertifika</a></li>
      <li><a href="/hakkimizda">Hakkımızda</a></li>
    </ul>
    <p>
      Sitemizin Discord ile herhangi bir ortaklığı yoktur ve resmi değildir.
    </p>
	</div>
</div>